table.table td {
    width:50%;
    cursor:pointer;
}
table.table td.translation {
    padding: 0;
    height: 40px;
}
table.table td.translation textarea {
    width:100%;
    height: 100%;
    display: block;
    border: none;
    padding: 5px;
    resize: none;
    cursor:pointer;
}
table.table td.translation textarea:focus {
    cursor:text;
}
