.sticky {
    position:fixed;
    width:100%;
}
.header-row {
    background: #edebf5;
}
.header-row .col-6 {
    border: 1px solid #fdffff;
    padding:5px;
}
table.table td {
    width:50%;
    cursor:pointer;
}
table.table td.translation {
    padding: 0;
    height: 40px;
}
table.table td.translation textarea {
    width:100%;
    height: 100%;
    display: block;
    border: none;
    padding: 5px;
    resize: none;
    cursor:pointer;
}
table.table td.translation textarea:focus {
    cursor:text;
    border: none;
    outline:none;
}
table.table tr.active td.translation textarea,
table.table tr.active td,
table.table tr:hover td.translation textarea,
table.table tr:hover td
{
    background-color : rgba(169, 219, 255, 0.28);
}
